/*
 * 标题：时时订单系统
 * 作者：47478439（QQ号）
 * 官方网址：www.wxrob.com
 * 官方店铺：https://www.wxrob.com/
 * 警示信息：您可以复制使用本站静态文件（html/css/js/images），但请保留原创作者（47478439（QQ号））信息，谢谢。
 */

.alizi-order .alizi-rows{position:relative;padding-top:.2rem;}
.alizi-order .rows-head{position:absolute;left:0;width:5rem;font-weight:normal;border-bottom:none;padding:2px 0;text-align:right;}
.alizi-order .rows-params{padding-left:5.5rem;line-height:2rem;}
.alizi-order .alizi-params{border:1px solid #ccc;padding:0 .2rem;}
.alizi-order .alizi-params.alizi-params-image{padding:.3rem;}
.alizi-order select,.alizi-order  .alizi-input-text{border-width:1px;padding:0;height:2rem;}
textarea.alizi-input-text{height:auto !important;}
.alizi-order .alizi-submit{width:100%;}
.alizi-order .rows-id-params{padding:0 10px;}
.alizi-order .alizi-params {padding-left:10px;padding-right:10px;border-radius:3px;}
.alizi-order .rows-id-params.rows-id-params-select .rows-head{display:block;}
.alizi-order .rows-id-params.rows-id-params-select .rows-params{margin-left:5.5rem;}
.alizi-title{display:none;}
.alizi-id-btn {margin:20px 5px;}
