<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
				<rule name="AliziItemIndex" stopProcessing="true">
                    <match url="Item/index.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=index" />
                </rule>
				<rule name="AliziIndex" stopProcessing="true">
                    <match url="index.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=index" />
                </rule>
                <rule name="AliziOrder" stopProcessing="true">
                    <match url="^id/([A-Za-z0-9-]*).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=order&amp;id={R:1}" />
                </rule>
                <rule name="AliziQuery" stopProcessing="true">
                    <match url="^query.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=query" />
                </rule>
                <rule name="AliziCategory" stopProcessing="true">
                    <match url="^category.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category" />
                </rule>
                <rule name="AliziCategoryId" stopProcessing="true">
                    <match url="^category-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category&amp;id={R:1}" />
                </rule>
                <rule name="AliziArticle" stopProcessing="true">
                    <match url="^article.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article" />
                </rule>
                <rule name="AliziArticleId" stopProcessing="true">
                    <match url="^article-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article&amp;id={R:1}" />
                </rule>
                <rule name="AliziDetailId" stopProcessing="true">
                    <match url="^detail-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderSingleId" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="AliziOrderSingle" stopProcessing="true">
                    <match url="^single/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderDetailId" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}&amp;tpl=detail" />
                </rule>
                <rule name="AliziOrderDetail" stopProcessing="true">
                    <match url="^detail/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;tpl=detail" />
                </rule>
                <rule name="AliziResult" stopProcessing="true">
                    <match url="^result/([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=result&amp;order_no={R:1}" />
                </rule>
                <rule name="AliziPay" stopProcessing="true">
                    <match url="^pay-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=pay&amp;order_no={R:1}" />
                </rule>
                <rule name="AliziOrderSingleRand" stopProcessing="true">
                    <match url="^single/(\w+)/(\w+)/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderSingleIdRand" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="AliziOrderDetailRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="AliziOrderDetailIdRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
				<rule name="AliziApiConfirm" stopProcessing="true">
                    <match url="^a/([0-9]+)" />
                    <action type="Rewrite" url="Api/confirm.php?id={R:1}" />
                </rule>
				
				<rule name="AliziOrderId" stopProcessing="true">
                    <match url="^Order/id-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=pay&amp;order_no={R:1}" />
                </rule>
				<rule name="AliziOrderwxpay" stopProcessing="true">
                    <match url="^Order/wxpay-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=payWxPayJsApi&amp;order_id={R:1}" />
                </rule>
				<rule name="AliziOrderorderQuery" stopProcessing="true">
                    <match url="^Order/orderQuery.html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=orderQuery" />
                </rule>
				<rule name="AliziOrderorderQuery2" stopProcessing="true">
                    <match url="^Order/orderQuery-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=orderQuery&amp;order_no={R:1}" />
                </rule>
				<rule name="AliziOrderResult" stopProcessing="true">
                    <match url="^Order/result/order_no/(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=result&amp;order_no={R:1}" />
                </rule>
				<rule name="AliziOrderResult2" stopProcessing="true">
                    <match url="^Order/result/order_no/(.*)/uid/(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=result&amp;order_no={R:1}&amp;order_no={R:2}" />
                </rule>
				<rule name="AliziOrderResult3" stopProcessing="true">
                    <match url="^Order/payWxPayWap-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;payWxPayWap&amp;order_id={R:1}" />
                </rule>
				
				<rule name="AliziItem" stopProcessing="true">
                    <match url="^item/index.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=index" />
                </rule>
				<rule name="AliziItemId" stopProcessing="true">
                    <match url="^item/id-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=order&amp;id={R:1}" />
                </rule>
				<rule name="AliziItemQuery" stopProcessing="true">
                    <match url="^item/query.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=query" />
                </rule>
				<rule name="AliziItemCategory" stopProcessing="true">
                    <match url="^item/category.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=category" />
                </rule>
				<rule name="AliziItemCategory2" stopProcessing="true">
                    <match url="^item/category-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=category&amp;id={R:1}" />
                </rule>
				<rule name="AliziItemArticle" stopProcessing="true">
                    <match url="^item/article.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=article" />
                </rule>
				<rule name="AliziItemArticle2" stopProcessing="true">
                    <match url="^item/detail-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=detail&amp;id={R:1}" />
                </rule>
				
			</rules>	
        </rewrite>
    </system.webServer>
</configuration>